@use '@angular/material' as mat;

html {
 
  @include mat.theme((
    color: mat.$violet-palette,
   
  ));
}


.darkMode{
    @include mat.theme((
        color: mat.$violet-palette,
        theme-type:dark,
       
      ));
}